Django
gunicorn
mysqlclient
clickhouse-connect
pandas
python-dotenv
langchain
langchain-openai
jinja2
django
httpie
openpyxl
pillow
pyyaml
ipython
psycopg
mysql
requests
django-tailwind
django-browser-reload
django-dbml
whitenoise
google-generativeai
langchain-google-genai
openai
langchain-google-genai